<p>media-instance-selector works!</p>

@for (item of data; track $index) {
  <button type="button" (click)="selectMedium(item.medium)">{{item.medium}}</button>
}

@if (seasonBookList()) {
  @for (item of seasonBookList(); track $index) {
    <button type="button" (click)="selectSeasonBook(item.id)">{{item.number}}</button>
  }
}


@if (episodeChapterList()) {
  <mat-slider min="1" [max]="episodeChapterList()!.length" step="1" showTickMarks >
    <input matSliderThumb (change)="selectEpisodeChapter()" [(value)]="selectedEpisodeChapter">
  </mat-slider>
}


