
<div class="mediumSelectContainer">

    <mat-button-toggle-group
      name="medium"
      aria-label="Meduim"
      [hideSingleSelectionIndicator]="true"
    >
      @for (item of data; track $index) {
          <mat-button-toggle  (click)="selectMedium(item.medium)" [value]="item.medium">{{item.medium}}</mat-button-toggle>
      }
    </mat-button-toggle-group>
</div>

@if (seasonBookList()) {
  <div class="seasonBookSelectContainer">

    <mat-button-toggle-group
      name="seasonBook"
      aria-label="Season/Book"
      [hideSingleSelectionIndicator]="true"
    >
      @for (item of seasonBookList(); track $index) {
          <mat-button-toggle  (click)="selectSeasonBook(item.id)" [value]="item.id">{{item.number}}</mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
}


@if (episodeChapterList()) {

  <div class="episodeChapterSelectContainer">
    <mat-slider min="1" [max]="episodeChapterList()!.length" step="1" showTickMarks >
      <input matSliderThumb (change)="selectEpisodeChapter()" [(value)]="selectedEpisodeChapter">
    </mat-slider>
  </div>
}


